//Backgrounds
$primary: #000;
$secondary: #000;
$body-bg: #FFF;
$card-bg: #f9f9f9;
//Borders
$border-radius: 0;
$border-color-translucent: transparent;
//Text
$card-color: #000;

@import '~bootstrap/scss/bootstrap.scss';